html, body{
	height: 100%;
	/*background-image: url('../images/pattern-a3ye.png');*/
	/*background-repeat: repeat;*/
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -120px;
}
.push, .footer {
	height: 120px;
}
.footer {
	/*background-color: #e7e7e7; */
	background-color: #3e3f3a; 
}
.footer p {
	line-height: 120px; 
	margin: 0; 
	/*padding-left: 40px; */
	color: #777;
}
.navbar-default {
	border-radius: 0;
}
hr {
	border-color: #bbb; 	
}
#map {
	height: 450px;
	width: 100%;
}

#slides_control > div{
	height: 200px;
}
img{
	margin:auto;
	width: 400px;
}
#slides_control {
	position:absolute;
	width: 400px;
	left:50%;
	top:20px;
	margin-left:-200px;
}