<div class="row" ng-show="createEventSuccess">
	<div class="col-sm-12">
		<div class="alert alert-success">
			{{ createEventSuccess }}
			<button class="close" ng-click="createEventSuccess = false">&times;</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1 style="margin-top: 12px;">Welcome, {{ firstname }}</h1>	
			</div>
		</div>
		<div class="row" ng-show="eventSuccess">
			<div class="col-sm-12">
				<div class="alert alert-success">{{ reventSuccess }}<button class="close" ng-click="eventSuccess=false">&times;</button></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<div google-map><div id="map"></div></div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<p class="lead">Upcoming {{ university.name }} and RSO Events</p>
					</div>
					<ul class="list-group">
						<!-- <div ng-repeat="event in events | filter:rso.name.filter"> -->
						<div ng-repeat="event in filteredEvents">
							<li class="list-group-item">
								<p class="lead">{{ event.name }}</p>
								<p ng-bind-html="event.description | unsafe"></p>
								<p>
								<span ng-show="event.rso != null"><strong>Presenting RSO</strong> {{ event.rso }}<br></span>
								<strong>Date: </strong> {{ event.date | date:'short':'UTC' }}<br>
								<strong>{{ event.visibility }} Event</strong><br>
								<!-- <strong>Location</strong> {{ event.location }}<br> -->
								<strong>Location</strong> <a href ng-click="openInfoWindow(event.marker)">{{ event.location_name }}</a><br>
								<strong>Type</strong> {{ event.type }}<br>
								<span ng-hide="event.contactphone == null && event.contactemail == null"><strong>Contact</strong> </span>
								<span ng-show="event.contactphone != null"><strong>Phone:</strong> {{ event.contactphone }}<br></span>
								<span ng-show="event.contactemail != null"><strong>Email:</strong> {{ event.contactemail }}<br></span>
								<strong>Rating: </strong> {{ event.rating | number:1 }} stars
								</p>
								<p class="lead">Comments</p>
								<table class="table table-hover" ng-show="event.comments">
									<tr ng-repeat="comment in event.comments">
										<td>
											<div>
												<!-- <button class="pull-right clearfix btn btn-success btn-sm" ng-show="comment.userid == userid">Edit</button> -->
												<button style="margin-right: 5px;" class="pull-right clearfix btn btn-danger btn-sm" ng-show="comment.userid == userid" ng-click="deleteComment(comment, event)">Delete</button>
											</div>
											<p><strong>{{ comment.name }}</strong> @ {{ comment.created | date:'short':'UTC' }}<br>
											<strong>Rated:</strong> {{ comment.rating }} stars<br>
											{{ comment.body }}</p>
										</td>
									</tr>
								</table>
								<form ng-submit="addComment(comment, event)" class="form">
									<div class="form-group">
										<label for="rating" class="label-control">Rating</label>
										<select ng-model="comment.rating" id="rating" class="form-control" ng-options="rating.display for rating in ratings"></select>
									</div>
									<div class="form-group">
										<label for="comment" class="label-control">Comment</label>
										<input ng-model="comment.body" id="comment" type="text" class="form-control">
									</div>
									<input type="submit" value="Add Comment" class="btn btn-primary">
								</form>
							</li>
						</div>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<student-rsos></student-rsos>
						<hr>
						<p class="lead">RSO Leader options</p>
						<button class="btn btn-warning btn-block btn-sm" ng-click="openCreateEvent()">Create RSO Event</button>
					</div>
				</div>
				<available-rsos></available-rsos>
				<imagecarousel></imagecarousel>
			</div>
		</div>
	</div>
</div>
