<div class="panel panel-default">
	<div class="panel-body">
		<p class="lead">Join RSO</p>
		<form class="form" ng-submit="join(joinrso)">
			<div class="form-group">
				<label for="rsoname" class="label-control">RSOs</label>
				<select class="form-control" id="rsoname" ng-model="joinrso.name" ng-options="arso.r_name for arso in available_rsos track by arso.r_id"></select>
			</div>
			<p><strong>About</strong><br>
				{{ joinrso.name.r_description }}
			</p>
			<input type="submit" value="Join" class="btn btn-primary btn-block">
		</form>
	</div>
</div>